<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hesham.sawar">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_test_3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_test_3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".ui.center_data.PersonalDataActivity"
            android:screenOrientation="portrait"
            android:label="Personal Data"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.center_data.CenterDataActivity"
            android:screenOrientation="portrait"
            android:label="Center Data"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.assistant.AssistantsActivity"
            android:label="Assistants"
            android:parentActivityName=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.signup.ChooseTypeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.order.OrderDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.AddAssistantActivity" />
        <activity android:name=".ui.signup.SignUpWithFacultyActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.signup.SignUpOwnerActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>